<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>List Of Notes</title>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
<main class="list">
	<section class="profile-section">
		<div class="item">
			<h2 class="profile-title">profile</h2>
			<div class="profile-info">
				<h3 class="profile-name">welcome <span id="user-name">alireza10up</span></h3>
			</div>
		</div>
		<div class="item">
			<h2 class="profile-title">Info</h2>
			<div class="profile-info">
				<h3 class="profile-name">count notes : <span id="count-note">2</span></h3>
			</div>
		</div>
		<div class="item">
			<h2 class="profile-title">Your Join At</h2>
			<div class="profile-info">
				<h3 class="profile-name">Time : <span id="count-note">2024/12/23</span></h3>
			</div>
		</div>
		<div class="item">
			<h2 class="profile-title">Exit </h2>
			<div class="profile-info">
				<button class="profile-button">exit</button>
			</div>
		</div>
	</section>
	<section class="sections-notes-section">
		<header class="sections-header">
			<h2>notes</h2>
			<button id="button_add_note" class="button button-add-note">new note +</button>
		</header>
		<div class="sections-list">
			<!-- add note -->
			<form id="add_note_form" class="hidden">
				<div class="input-group">
					<input type="text" id="input-title" placeholder="Enter Title">
				</div>
				<div class="input-group">
					<textarea name="content" id="input-content" cols="30" rows="10" placeholder="Enter Content"></textarea>
				</div>
				<button class="button" type="submit">Submit Note</button>
			</form>
			<br>
			<div id="notes_wrapper">
				<!-- if empty -->
				<h5 id="nothing" class="nothing hidden">nothing here</h5>
			</div>
		</div>
	</section>
</main>
<script src="assets/js/sweetalert2.all.min.js"></script>
<script src="assets/js/main.js"></script>
<script>
	/* form submit note */
	const add_note_btn = document.getElementById('button_add_note')
	const add_note_form = document.getElementById('add_note_form');
	add_note_btn.addEventListener('click', (e) => {
		add_note_form.classList.toggle('hidden');
	});

	add_note_form.addEventListener('submit', (e) => {
		e.preventDefault();
		add_note();
		add_note_form.classList.toggle('hidden');
	});

	/* load notes */
	window.addEventListener('load', (e) => {
		get_notes();
	});
</script>
</body>
</html>