<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <main class="login-form">
        <section class="container">
            <div class="head-login">
                <img src="assets/imgs/logo note book.png" alt="logo note book">
                <span class="notebook-title">notebook</span>
            </div>
            <form>
                <div class="input-group">
                    <input type="text" id="input-email" placeholder="Enter your email">
                </div>
                <div class="input-group">
                    <input type="password" id="input-password" placeholder="Enter your password">
                </div>
                <button class="button" type="submit">Log In</button>
                <a class="link" href="./register.html">You don't have an account? register</a>
            </form>
        </section>
    </main>
</body>

</html>