<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <main class="auth-form">
        <section class="container">
            <div class="head-auth">
                <img src="assets/imgs/logo-note-book.png" alt="logo note book">
                <span class="notebook-title">notebook</span>
            </div>
            <form>
                <div class="input-group">
                    <input type="text" id="input-name" placeholder="Enter your name">
                </div>  
                <div class="input-group">
                    <input type="text" id="input-email" placeholder="Enter your email">
                </div>
                <div class="input-group">
                    <input type="password" id="input-password" placeholder="Enter your password">
                </div>
                <button class="button" type="submit">Register</button>
                <a class="link" href="./login.html">Do you have an account? Login</a>
            </form>
        </section>
    </main>
</body>

</html>